body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
}

.avatar {
    width: 150px;
    border-radius: 50%;
}

.card {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    background: #000814;
    color: #a47e1b;
    border-bottom: 4px solid #b69121;
}

.italic {
    font-style: italic;
}